<form class="form-inline" (ngSubmit)="onQuery()">
  <input type="text" class="form-control mr-2 mt-3" [formControl]="name" placeholder="名称">
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search"></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
    <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary" routerLink="add"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>名称</th>
    <th>测试地址</th>
    <th>代码仓库地址</th>
    <th>创建日期</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of pageData?.content; index as i">
    <td>{{i + 1}}</td>
    <td>{{project?.name}}</td>
    <td class="text-pack">
      <a href="{{project?.projectUrl}}">{{project?.projectUrl}}</a>
    </td>
    <td class="text-pack">
      <a href="{{project?.repositoryUrl}}">{{project?.repositoryUrl}}</a>
    </td>
    <td>{{project?.createTime | date:'yyyy-MM-dd'}}</td>
    <td>
      <a class="text-info mr-3" matTooltip="查看" routerLink="testPlan/{{project?.id}}"><i class="fa fa-eye"></i></a>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit/{{project?.id}}"><i class="fa fas fa-pen"></i></a>
      <a class="text-danger mr-3" matTooltip="删除" (click)="delete(project?.name, project?.id)" ><i class="fa fas fa-trash"></i></a>
    </td>
  </tr>
  </tbody>
</table>

<yz-page [size]="pageData.size"
         [page]="pageData.number"
         [totalElements]="pageData.totalElements"
         (changePage)="onChangePage($event)"></yz-page>
<router-outlet></router-outlet>


