<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">添加测试计划</li>
  </ol>
</nav>

<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group row">
    <label class=" col-4 text-right col-form-label"><code>*</code>测试项目</label>
    <div class="col-4">
      <app-project-select formControlName="project"></app-project-select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>标题</label>
    <div class="col-4">
      <input class="form-control" formControlName="title"/>
    </div>
  </div>
  <div formArrayName="tasks">
    <div class="form-group row" *ngIf="this.formGroup.get('project').value">
      <label class="col-4 text-right col-form-label"><code>*</code>分配任务</label>

      <div *ngFor="let task of formTasks; let i = index" [formGroupName]="i"  class=" col-8">
        <div [ngClass]="{'offset-4': i > 1}">
          <app-test-case-select-multiple formControlName="testCase"
                                         [data]="this.formGroup.get('project').value?.id" class="mr-2"></app-test-case-select-multiple>
          <app-user-select formControlName="testUser" class="mr-2"></app-user-select>
          <button type="button" class="btn" (click)="addFormTasks()"><i class="bi bi-plus-lg"></i></button>
          <button type="button" class="btn mr-1" *ngIf="formTasks.length > 1" (click)="removeFormField(i)"><i
            class="bi bi-dash-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="form-group row pr-3">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-secondary mr-1" (click)="onClose()"><i class="bi bi-x"></i>关闭</button>
      <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i>确定</button>
    </div>
  </div>
</form>





