<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">添加测试计划</li>
  </ol>
</nav>

<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" style="height:500px; overflow-y: scroll; overflow-x: hidden">
  <div class="form-group row">
    <label class="col-3 text-right col-form-label"><code>*</code>测试项目</label>
    <div class="col-4">
      <app-proj ect-select formControlName="project"></app-project-select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-3 text-right col-form-label"><code>*</code>标题</label>
    <div class="col-4">
      <input class="form-control" formControlName="title"/>
    </div>
  </div>

  <div class="form-group row" *ngIf="this.formGroup.get('project').value">
    <label class="col-3 text-right col-form-label"><code>*</code>分配任务</label>
    <div class="col-9">
      <ng-container *ngFor="let i of item">
        <div class="col-9">
          <app-test-case-select-multiple formControlName="testCase" class="mr-2" [data]="this.formGroup.get('project').value?.id"></app-test-case-select-multiple>
          <app-user-select formControlName="testUser"></app-user-select>
        </div>
      </ng-container>
      <button type="button" class="btn"><i class="bi bi-plus-lg" (click)="addItem()"></i></button>
      <button type="button" class="btn"><i class="bi bi-dash-lg" (click)="decreaseItem()"></i></button>
    </div>
  </div>

  <hr/>
  <div class="form-group row pr-3">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-secondary mr-1" (click)="onClose()"><i class="bi bi-x"></i>关闭</button>
      <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i>确定</button>
    </div>
  </div>
</form>





