<div class="body-login">
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 style="margin-bottom: 5px;">集成测试系统</h1>
      <input type="text" formControlName="username" name="username" placeholder="用户名" />
      <input type="password" formControlName="password" name="password" placeholder="密码" />
      <ng-template [ngIf]="errorInfo">
        <hr>
        <small class="text-danger">{{ errorInfo }}</small>
      </ng-template>
      <button type="submit" class="mt-1">登录</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>欢迎您</h1>
        <p>A system to test for the team</p>
      </div>
    </div>
  </div>
</div>
</div>
