<div class="body-login">
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>欢迎登陆</h1>
      <div class="color-line mb-3"></div>
      <input type="text" formControlName="username" name="username" placeholder="用户名" />
      <input type="password" formControlName="password" name="password" placeholder="密码" />
      <ng-template [ngIf]="errorInfo">
        <hr>
        <small class="text-danger">{{ errorInfo }}</small>
      </ng-template>
      <button type="submit" class="mt-1">登录</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Integrated test system</h1>
        <h1 class="mt-2">集成测试系统</h1>
        <img src="/assets/images/login.png" height="259" width="302"/></div>
    </div>
  </div>
</div>
</div>
