<div class="mt-5 bg">
  <div class="row">
    <div class="offset-1 col-4 m-top">
        <h1 class="large-text h-top"><strong>欢迎使用</strong></h1>
        <h1 class="display-4 large-text h-top"><strong>集成测试系统</strong></h1>
      <p class="lead h-top">The integration of the test system </p>
      <p class="lead">helps detect potential problems, conflicts, or errors.</p>
    </div>
    <div class="offset-1 col-5 mt-5">
      <img src="assets/images/index.png" height="486" width="600"/></div>
  </div>
  </div>


