
<div class="mt-5 bg" >
  <div class="color-line pt-2" style="display: inline-block;"></div><h2 class="ml-2 title"><strong>当前测试计划</strong></h2>
  <hr>
  <nz-table  nzSize="middle" class="table-primary">
    <thead>
    <tr>
      <th>序号</th>
      <th>测试计划标题</th>
      <th>未完成数量</th>
      <th>已完成数量</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>test1</td>
      <td>2</td>
      <td>8</td>
      <td><a class="text-info mr-3" matTooltip="查看" routerLink="../test"><i class="fa fa-eye"></i></a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>test2</td>
      <td>0</td>
      <td>10</td>
      <td><a class="text-info mr-3" matTooltip="查看" routerLink="../test"><i class="fa fa-eye"></i></a></td>
    </tr>
    </tbody>
  </nz-table>
</div>

<!--<div class="mt-5 bg">-->
<!--  <div class="row">-->
<!--    <div class="offset-1 col-4 m-top">-->
<!--        <h1 class="large-text h-top"><strong>欢迎使用</strong></h1>-->
<!--        <h1 class="display-4 large-text h-top"><strong>集成测试系统</strong></h1>-->
<!--      <p class="lead h-top">The integration of the test system </p>-->
<!--      <p class="lead">helps detect potential problems, conflicts, or errors.</p>-->
<!--    </div>-->
<!--    <div class="offset-1 col-5 mt-5">-->
<!--      <img src="assets/images/index.png" height="486" width="600"/>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

