<form class="form-inline">
  <input type="text" class="form-control mr-2 mt-3" [formControl]="" placeholder="选择项目名称">
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search"></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary" routerLink="clone">克隆</a>
    <a class="btn btn-primary ml-3"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>所属项目</th>
    <th>名称</th>
    <th>测试目的</th>
    <th>前置条件</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1
        <i matTooltip="查看" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" (click)="toggleCollapse()"
          class="bi" [ngClass]="{'bi-caret-up-fill': !isCollapsed, 'bi-caret-down-fill': isCollapsed}"></i>

    </td>
    <td>牙科管理系统</td>
    <td>|--测试登录模块</td>
    <td>验证用户能够使用正确的用户名和密码成功登录到系统</td>
    <td>用户已经注册并拥有有效的用户名和密码</td>
    <td>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
      <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
    </td>
  </tr>
  <tr id="collapseExample1" class="collapse">
    <td colspan="6">
      <div class="row mb-2 mt-2">
        <div class="col-md-6">
        </div>
        <div class="col-6 text-right">
          <a class="btn ml-3"><i class="fa fas fa-plus"></i>新增</a>
        </div>
      </div>
      <nz-table  nzSize="middle">
        <thead>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>测试步骤</th>
          <th>预期结果</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody cdkDropList>
        <tr cdkDrag cdkDragLockAxis="y">
          <td>1</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag cdkDragLockAxis="y">
          <td>2</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag cdkDragLockAxis="y">
          <td>3</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag cdkDragLockAxis="y">
          <td>4</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </td>
  </tr>
  <tr>
    <td>2
      <i matTooltip="查看" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" (click)="toggleCollapse()"
         class="bi" [ngClass]="{'bi-caret-up-fill': !isCollapsed, 'bi-caret-down-fill': isCollapsed}"></i>

    </td>
    <td>集成测试系统</td>
    <td>|--测试用户管理</td>
    <td>验证系统能够正确的管理用户信息</td>
    <td>已经登录系统且拥有用户管理的权限</td>
    <td>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
      <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
    </td>
  </tr>
  <tr id="collapseExample2" class="collapse">
    <td colspan="6">
      <nz-table>
        <thead>
        <tr class="table-info">
          <th>序号</th>
          <th>测试用例-小项</th>
          <th>测试步骤</th>
          <th>预期结果</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr cdkDrag>
          <td>1</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>2</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>3</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>4</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </td>
  </tr>
  <tr>
    <td>3
      <i matTooltip="查看" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample2" (click)="toggleCollapse()"
         class="bi" [ngClass]="{'bi-caret-up-fill': !isCollapsed, 'bi-caret-down-fill': isCollapsed}"></i>
    </td>
    <td>集成测试系统</td>
    <td>|--执行测试管理</td>
    <td>验证系统能够正确的管理用户信息</td>
    <td>已经登录系统且拥有用户管理的权限</td>
    <td>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
      <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
    </td>
  </tr>
  <tr id="collapseExample3" class="collapse">
    <td colspan="6">
      <nz-table>
        <thead>
        <tr class="table-info">
          <th>序号</th>
          <th>测试用例-小项</th>
          <th>测试步骤</th>
          <th>预期结果</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody cdkDropList >
        <tr cdkDrag>
          <td>1</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>2</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>3</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        <tr cdkDrag>
          <td>4</td>
          <td>用错误的用户名登录</td>
          <td>1打开登录页面
            2将用户名和密码输入框留空
            3点击登录按钮</td>
          <td>系统提示用户输入用户名和密码不能为空  ,用户无法登录到系统</td>
          <td>
            <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
            <a class="text-danger mr-3" matTooltip="删除"><i class="fa fas fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </td>
  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>





