<div class="row mb-2 mt-2">
  <div class="col-6">
    <a class="btn btn-primary" routerLink="../">返回</a>
  </div>
</div>

<div class="row mb-2 mt-2">
  <div class="col-4">所属项目：牙科管理系统</div>
  <div class="col-4">所属测试计划： 测试登录模块</div>
  <div class="col-4">项目地址：https</div>
</div>

<form class="form-inline" >
  <div class="mt-3 mr-2">
    <app-project-select></app-project-select>
  </div>
  <div class="mt-3 mr-2">
    <input type="text" class="form-control" [formControl]="" placeholder="状态">
  </div>
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search" ></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-12 text-right">
    <a class="btn btn-primary"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>标题</th>
    <th>测试步骤</th>
    <th>预期结果</th>
    <th>状态</th>
    <th>issue</th>
    <th>描述</th>
    <th>操作</th>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>xxx--测试登录失败</td>
    <td>输入正确的用户名，错误的秘密</td>
    <td>报错（用户名或者密码错误）</td>
    <td>待开始</td>
    <td></td>
    <td></td>
    <td><a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>xxx--测试登录失败</td>
    <td>输入错误的用户名，正确的秘密</td>
    <td>报错（用户名或者密码错误）</td>
    <td>待验证</td>
    <td>issue</td>
    <td>居然登录进去了 和预期的结果不对，以建立issue</td>
    <td><a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>xxx--测试登录失败</td>
    <td>输入错误的用户名，错误的秘密</td>
    <td>报错（用户名或者密码错误）</td>
    <td>未通过</td>
    <td>issue</td>
    <td>居然登录进去了 和预期的结果不对，未建立issue</td>
    <td><a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>xxx--测试登录成功</td>
    <td>输入正确的用户名，正确的秘密</td>
    <td>进入系统 首页</td>
    <td>已通过</td>
    <td></td>
    <td></td>
    <td><a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
  </tbody>
</table>
<!--<yz-page [size]="pageData?.size"-->
<!--         [page]="pageData?.number"-->
<!--         [totalElements]="pageData?.totalElements"-->
<!--         (changePage)="onChangePage($event)"></yz-page>-->
<router-outlet></router-outlet>





