<div class="row mb-2 mt-2">
  <div class="col-6">
    <a class="btn btn-primary" routerLink="../../">返回</a>
  </div>
</div>

<div class="row mb-2 mt-2">
  <div class="col-4"><h2>所属项目：牙科管理系统</h2></div>
  <div class="col-4"><h2>所属测试计划： 测试登录模块</h2></div>
  <div class="col-4"><h2>项目地址：https</h2></div>
</div>

<form class="form-inline" >
  <div class="mt-3 mr-2">
    <app-project-select></app-project-select>
  </div>
  <div class="mt-3 mr-2">
    <input type="text" class="form-control" [formControl]="" placeholder="状态">
  </div>
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search" ></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-12 text-right">
    <a class="btn btn-primary"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>标题</th>
    <th>测试步骤</th>
    <th>预期结果</th>
    <th>状态</th>
    <th>issue</th>
    <th>描述</th>
    <th>操作</th>
  </thead>
  <tbody>
  <ng-container *ngFor="let testCase of test?.testCase">
    <tr *ngFor="let testItem of testCase?.testItems; index as index">
      <td>{{index + 1}}</td>
      <td>{{testCase?.name}} |--{{testItem?.name}}</td>
      <td>{{testItem?.steps}}</td>
      <td>{{testItem?.expectedResult}}</td>
      <td bind-innerHTML="testItem?.status | status"></td>
      <td>{{testItem?.issueUrl}}</td>
      <td>{{testItem?.describe}}</td>
      <td><a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
    </tr>
  </ng-container>
  </tbody>
</table>
<!--<yz-page [size]="pageData?.size"-->
<!--         [page]="pageData?.number"-->
<!--         [totalElements]="pageData?.totalElements"-->
<!--         (changePage)="onChangePage($event)"></yz-page>-->
<router-outlet></router-outlet>





