<div class="row mb-2 mt-2">
  <div class="col-6">
    <a class="btn btn-primary" routerLink="../largeItem">返回</a>
  </div>
</div>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
    <!--    <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>-->
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>标题</th>
    <th>描述</th>
    <th>状态</th>
    <th>报错信息</th>
    <th>issue</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>用错误的用户名登录</td>
    <td>登录失败，提示用户名或密码错误</td>
    <td>待开始</td>
    <td></td>
    <td></td>
    <td>编辑 删除</td>
  </tr>
  <tr>
    <td>2</td>
    <td>用错误的密码登录</td>
    <td>登录失败，提示用户名或密码错误</td>
    <td>已通过</td>
    <td></td>
    <td></td>
    <td>编辑 删除</td>
  </tr>
  <tr>
    <td>3</td>
    <td>用正确的用户名密码登录</td>
    <td>登录成功</td>
    <td>失败</td>
    <td>401</td>
    <td>http:github....</td>
    <td>编辑 删除</td>
  </tr>
  </tbody>
</table>
<!--<yz-page [size]="pageData?.size"-->
<!--         [page]="pageData?.number"-->
<!--         [totalElements]="pageData?.totalElements"-->
<!--         (changePage)="onChangePage($event)"></yz-page>-->
<!--<router-outlet></router-outlet>-->





