<form class="form-inline">
  <input type="text" class="form-control mr-2 mt-3" [formControl]="" placeholder="项目名称">
  <input type="text" class="form-control mr-2 mt-3" [formControl]="" placeholder="测试计划名称">
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search"></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
    <!--    <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>-->
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>所属项目</th>
    <th>测试地址</th>
    <th>所属测试计划</th>
    <th>测试用例标题</th>
    <th>测试人</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>牙科管理系统</td>
    <td>http://app.mengyunzhi.com:17121</td>
    <td>测试登录模块</td>
    <td>登录模块</td>
    <td>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit/testUser"><i class="fa fas fa-pen"></i></a>
    </td>
    <td>待开始
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a></td>
    <td>
      <a class="text-info mr-3" matTooltip="查看" routerLink="testItem"><i class="fa fa-eye"></i></a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>集成测试系统</td>
    <td>http://app.mengyunzhi.com:17121</td>
    <td>测试用户管理</td>
    <td>用户管理</td>
    <td>李四</td>
    <td>部分完成
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
    </td>
    <td>
      <a class="text-info mr-3" matTooltip="查看" routerLink="testItem"><i class="fa fa-eye"></i></a>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>集成测试系统</td>
    <td>http://app.mengyunzhi.com:17121</td>
    <td>测试个人中心</td>
    <td>个人中心</td>
    <td>王五</td>
    <td>已完成
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit"><i class="fa fas fa-pen"></i></a>
    </td>
    <td>
      <a class="text-info mr-3" matTooltip="查看" routerLink="testItem"><i class="fa fa-eye"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<!--<yz-page [size]="pageData?.size"-->
<!--         [page]="pageData?.number"-->
<!--         [totalElements]="pageData?.totalElements"-->
<!--         (changePage)="onChangePage($event)"></yz-page>-->
<!--<router-outlet></router-outlet>-->





