<div class="row">
  <div class="card mt-5 col-7 offset-1">
    <div class="card-body">
      <div class="row">
        <div class="offset-1 col-3 text-right">
          <label class="col-form-label">姓名</label>
        </div>
        <div class="col-8 pt-2">
          <a class="text-decoration-underline">{{user?.name}}</a>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-3 text-right">
          <label class="col-form-label">用户名</label>
        </div>
        <div class="col-8 pt-2">
          <a>{{user?.username}}</a>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-3 text-right">
          <label class="col-form-label">手机号</label>
        </div>
        <div class="col-8 pt-2">
          <a>{{user?.dirtyContactPhone}}</a>
<!--          <user-contact-phone *ngIf="user" [user]="user"></user-contact-phone>-->
        </div>
      </div>
      <div class="row mt-2">
        <div class="offset-3 col-7">
          <a class="btn btn-primary btn-sm mr-3" routerLink="changePassword"><i class="bi bi-pencil-square"></i>修改密码</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

