<div class="mt-5 bg" >
  <div class="color-line pt-2" style="display: inline-block;"></div><h2 class="ml-2 title"><strong>个人信息</strong></h2>
  <hr>
  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>姓名</label>
    <div class="col-5 mt-2">
      <span>{{user?.name}}</span>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>用户名</label>
    <div class="col-5 mt-2">
      <span>{{user?.username}}</span>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>手机号</label>
    <div class="col-5 mt-2">
     <span>{{user?.dirtyContactPhone}}</span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>角色</label>
    <div class="col-5 mt-2">
      <span>{{user?.role | role}}</span>
    </div>
  </div>
</div>


<div class="mt-3 bg">
  <div class="color-line pt-2" style="display: inline-block;"></div><h2 class="ml-2 title"><strong>修改密码</strong></h2>
  <hr>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="offset-2 col-sm-2 col-form-label text-right"><code>*</code>原密码</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" formControlName="oldPassword"/>
        <small class="text-danger"
               *ngIf="(formGroup.get('oldPassword').dirty || formGroup.get('oldPassword').touched) && formGroup.get('oldPassword').hasError('passwordError')">
          <span> 原密码错误！</span>
        </small>
        <small class="text-danger"
               *ngIf="formGroup.get('oldPassword').value === '' &&  formGroup.get('oldPassword').touched">
          <span> 原密码必须填写！</span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="offset-2 col-sm-2 col-form-label text-right"><code>*</code>新密码</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" formControlName="newPassword"/>
        <small class="text-danger"
               *ngIf="formGroup.get('newPassword').invalid && (formGroup.get('newPassword').dirty || formGroup.get('newPassword').touched)">
        <span *ngIf="formGroup.get('newPassword').errors?.['minlength']">
          密码长度最少为6字符
        </span>
          <span *ngIf="formGroup.get('newPassword').errors?.['maxlength']">
          密码长度大长度是20个字符
        </span>
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="offset-2 col-sm-2 col-form-label text-right"><code>*</code>确认新密码</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" formControlName="newPasswordAgain"/>
        <small class="text-danger"
               *ngIf="formGroup.get('newPasswordAgain').dirty && formGroup.get('newPasswordAgain').touched && formGroup.hasError('passwordMismatch')">
          两次密码不一致
        </small>
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <div class="col-sm-3 offset-4">
        <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid || formGroup.pending"><i class="bi bi-check-lg"></i>确定</button>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>

