<form class="form-inline" (ngSubmit)="onQuery()">
  <input type="text" class="form-control mr-2 mt-3" [formControl]="name" placeholder="名称">
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search"></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
    <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary" routerLink="add"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>姓名</th>
    <th>用户名</th>
    <th>联系电话</th>
    <th>角色</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of pageData?.content; index as i">
    <td>{{i + 1}}</td>
    <td>{{user?.name}}</td>
    <td>{{user?.username}}</td>
    <td>{{user?.dirtyContactPhone}}</td>
    <td>{{user?.role}}</td>
    <td>
      <a class="text-primary mr-3" matTooltip="编辑" routerLink="edit/{{user.id}}"><i class="fa fas fa-pen"></i></a>
      <a class="text-danger mr-3" matTooltip="删除" (click)="delete(user.name, user.id)" ><i class="fa fas fa-trash"></i></a>
      <a class="text-dark mr-3" (click)="resetPassword(user.id)" matTooltip="重置密码"><i class="bi bi-arrow-repeat"></i></a>
    </td>
  </tr>
  </tbody>
</table>

<yz-page [size]="pageData.size"
         [page]="pageData.number"
         [totalElements]="pageData.totalElements"
         (changePage)="onChangePage($event)"></yz-page>
<router-outlet></router-outlet>
