/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div.mat-mdc-dialog-surface.mdc-dialog__surface {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  pointer-events: auto;
  overflow-y: unset;
}

.td {
  word-wrap: break-word;
  word-break: break-all;
}

.jasmine-results > .jasmine-summary {
  display: none;
}

i.bi {
  margin-right: 0.5em;
}

.wide-input {
  width: 450px;
}
