<form class="form-inline">
  <nz-select nzPlaceHolder="状态" nzSize="large" class="mt-3 mr-2">
    <nz-option nzLabel="待开始"></nz-option>
    <nz-option nzLabel="已通过"></nz-option>
    <nz-option nzLabel="未通过"></nz-option>
    <nz-option nzLabel="待验证"></nz-option>
  </nz-select>
  <button type="submit" class="btn btn-info mt-3"><i class="fa fas fa-search"></i>查询</button>
</form>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
        <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>所属项目</th>
    <th>所属测试计划</th>
    <th>测试用例标题</th>
    <th>测试人</th>
    <th>状态</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let test of pageData?.content, index as i">
    <td>{{i + 1}}
      <i matTooltip="查看" (click)="toggleCollapse(test?.id)"
         class="bi" [ngClass]="{'bi-caret-down-fill': isShow, 'bi bi-caret-right-fill': !isShow}"></i>
    </td>
    <td>{{test.project?.name}}</td>
    <td>{{test.testPlan?.title}}</td>
    <td >
      <label *ngFor="let testCase of test?.testCase, let last = last"> {{testCase?.name}}{{last ? '' : '、'}}</label>
    </td>
    <td>{{test?.testUser?.name}}</td>
    <td bind-innerHTML="test?.status | status"></td>
  </tr>
  </tbody>
</table>
<yz-page [size]="pageData?.size"
         [page]="pageData?.number"
         [totalElements]="pageData?.totalElements"
         (changePage)="onChangePage($event)"></yz-page>
<router-outlet></router-outlet>





