<div class="row mb-2 mt-2">
  <div class="col-6">
    <a class="btn btn-primary" routerLink="../">返回</a>
  </div>
</div>

<div class="row mb-2 mt-2">
  <div class="col-md-6">
    <!--    <yz-size [size]="param.size" (changeSize)="onChangeSize($event)"></yz-size>-->
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary"><i class="fa fas fa-plus"></i>新增</a>
  </div>
</div>

<table class="table table-striped mt-2">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>测试名称</th>
    <th>测试时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td><a routerLink="../largeItem">test1</a></td>
    <td>2023.12,10</td>
    <td>编辑 删除</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a routerLink="../largeItem">test2</a></td>
    <td>2023.12,20</td>
    <td>编辑 删除</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a routerLink="../largeItem">wu-test</a></td>
    <td>2023.12,30</td>
    <td>编辑 删除</td>
  </tr>
  </tbody>
</table>
<!--<yz-page [size]="pageData?.size"-->
<!--         [page]="pageData?.number"-->
<!--         [totalElements]="pageData?.totalElements"-->
<!--         (changePage)="onChangePage($event)"></yz-page>-->
<!--<router-outlet></router-outlet>-->


