<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">克隆测试用例</li>
  </ol>
</nav>

<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>选择项目名称</label>
    <div class="col-4">
      <app-project-select></app-project-select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 text-right col-form-label"><code>*</code>选择测试用例</label>
    <div class="col-4">
      <select formControlName="testCase">
        <option>选择测试用例可多选 </option>
        <option>测试登录模块</option>
      </select>
    </div>
  </div>
  <hr/>
  <div class="form-group row pr-3">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-secondary mr-1" (click)="onClose()"><i class="bi bi-x"></i>关闭</button>
      <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i>确定</button>
    </div>
  </div>
</form>




